.neworder {
	padding: 1%;
}

form > div {
	width: 100%;
}

form .fieldname {
	display: inline-block;
	font-size: 18px;
	width: 20%;
}

form .address {
	width: 30%;
}

form .postcode {
	width: 15%;
}

form .state {
	width: 20%;
}

form .fromaddrbook {
	min-width: 60px;
	width: 60px;
	margin-left: 3%;
}

.documents > * > * {
	margin-left: 2%;
}

.documents .doc_name {
	width: 20%;
}

.documents .doc_description {
	width: 55%;
}

.documents .doc_qty {
	width: 7%;
}

.documents .op-btn {
	width: 3%;
	min-width: 60px;
	width: 60px;
}

.documents label, 
.documents span {
	display: inline-block;
	padding: 10px 0;
}

.documents .doc-header {
	border-bottom: 1px solid #000;
}

.submit-button {
	margin-right: 20px;
	margin-top: -20px;
}