<div class="auth-show text-center">
	<label style="font-size: 500px; color: #555; line-height: 0.8;">
	DD
	</label>
</div>
<div class="auth-form">
	<form class="text-center ui form" #f='ngForm' (ngSubmit)="onSubmit(f.value)" >
		<h1 class="text-left"> Sign up </h1>

		<div layout="column">
			<md-input-container class="full-width">
				<input mdInput type="email" name="email" ngModel class="form-control" placeholder="Email" />
			</md-input-container>
			<md-input-container class="full-width">
				<input mdInput type="password" name="password" ngModel class="md-block form-control" placeholder="Password" minlength="8" />
			</md-input-container>
			<md-input-container class="full-width">
				<input mdInput type="password" name="password2" ngModel class="md-block form-control" placeholder="Password confirm" />
			</md-input-container>
			<label> {{ err_msg }} </label>
		</div>

		<div class="text-center">
			<button md-raised-button type="submit" name="signup" > Signup </button>
		</div>
		<p class="text-center"> ---------- OR ---------- </p>
		<div class="text-center">
			<button md-raised-button type="submit" name="signinwithoffice" > Signup with Office </button>
			<button md-raised-button type="submit" name="signinwith365"  > Signup with 365 </button>
		</div>

	</form>
</div>