.toolbar-spacer {
  flex: 1 1 auto;
}
a {
	text-decoration: none;
}
h1 {
	margin: 0;
	margin-left: 20px;
}
.logger {
	margin-right: 50px;
	padding: 10px 20px;
	border: 1px solid #551a8b;
	border-radius: 10px;
}
.logger:hover {
	color: #fff;
	background: #551a8b;
}
.logger a {
	color: inherit;
}